Package: com.broganminer.cswitcher
Name: CSwitcher
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Move your App Switcher into your Control Center
Maintainer: Brogan Miner
Author: Brogan Miner
Section: Tweaks
Version: 1.0.1-1
Installed-Size: 308
